<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Tài Khoản</title>
	<meta charset="UTF-8">
</head>

<body>
	<h3><a th:href="@{/}" th:text="'Trang chủ'"></a></h3>
	<!--Nếu có tài khoản-->
	<div th:if="${account}">
		<h1>Thông tin tài khoản</h1>
		<form th:object="${account}" th:action="@{/account/change}" method="post">
			<table>
				<tr>
					<td th:text="'UserName: '" align="left"></td>
					<td><span><input type="text" th:field="${account.username}"></span></td>
				</tr>
				<tr>
					<td th:text="'Họ Tên: '" align="left"></td>
					<td><span><input type="text" th:field="${account.user.fullname}"></span></td>
				</tr>

				<tr>
					<td th:text="'Email: '" align="left"></td>
					<td><span><input type="text" th:field="${account.user.email}"></span></td>
				</tr>
				<tr>
					<td th:text="'SĐT: '" align="left"></td>
					<td><span><input type="text" th:field="${account.user.phoneNumber}"></span></td>
				</tr>
				<tr>
					<td th:text="'Địa chỉ: '" align="left"></td>
					<td><span><input type="text" th:field="${account.user.address}"></span></td>
				</tr>

				<tr>
					<td th:text="'Vai trò:'"></td>
					<td th:switch="${account.roles}">
						<span th:case="'ROLE_ADMIN'" th:text="'Quản trị viên'"></span>
						<span th:case="'ROLE_MANAGER'" th:text="'Quản lý'"></span>
						<span th:case="ROLE_USER" th:text="'Khách hàng'"></span>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="Chỉnh Sửa">
					</td>
				</tr>
			</table>
		</form>
		<table>
			<tr>
				<td>
					<span><button><a th:href="@{logout}" th:text="'Đăng xuất'"></a></button></span>
				</td>
			</tr>
		</table>
	</div>

	<!--Nếu không có tài khoản-->
	<div th:unless="${account}">
		<h1>Chưa đăng nhập.</h1>
		<button><a th:href="@{/login}" th:text="'Đăng nhập'"></a></button>
	</div>
</body>

</html>