<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Thêm phòng</title>	// Tiêu đề trang: "Thêm phòng"
</head>

<body>
	<h1>Thêm phòng</h1>	// Tiêu đề h1: "Thêm phòng"
	<form th:object="${room}" th:action="@{/manage/room/add}" method="post"> // Hiện form thêm phòng từ /manage/room/add URL
		<table>
			<tr>
				<td th:text="'Tên phòng: '" align="left"></td>	// Hiện dòng: "Tên phòng: "
				<td><input type="text" th:field="*{name}"></td>	// Nhập tên phòng, dữ liệu gán vào thuộc tính name
			</tr>
			<tr>
				<td th:text="'Loại phòng: '" align="left"></td>	// Hiện dòng "Loại phòng: "
				<td>	// 2 nút radio để chọn loại phòng, với nút thứ nhất là "Thường" làm mặc định và nút thứ hai là VIP
					<input type="radio" name="loaiphong" th:field="${room.type}" th:value="'Thường'" th:text="'Thường'"
						checked>
					<input type="radio" name="loaiphong" th:field="${room.type}" th:value="'VIP'" th:text="'VIP'">
				</td>
			</tr>
			<tr>
				<td th:text="'Giá phòng: '" align="left"></td>	// Hiện dòng "Giá phòng: "
				<td><span><input type="number" th:field="${room.price}"></span><span th:text="'/ngày'"></span></td>	// Nhập số tiền phòng / ngày, dữ liệu gán vào thuộc tính room.price
			</tr>
			<tr>
				<td th:text="'Chi tiết: '" align="left"></td>	// Hiện dòng "Chi tiết: "
				<td><input type="text" th:field="${room.description}"></td>	// Nhập text, gắn dữ liệu vào thuộc tính room.description
			</tr>
			<tr>
				<td>
					<button><a th:href="@{/room}" th:text="'Quay lại'"></a></button>	// Nút "quay lại" để về /room URL
				</td>
				<td><input type="submit" value="Xác nhận"></td>	// Nút xác nhận để gửi form
			</tr>
		</table>
	</form>

</body>