
body {
  font-family: 'Times New Roman', Times, serif;
  background: 
  url("https://img.freepik.com/free-vector/hotel-building-concept-illustration_114360-14039.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

#bt, button {
  background-color: goldenrod;
  color: white;
  font-weight: bold;
  border: 1px solid black;
  margin: 5px 5px;
}
#bt:hover ,button:hover{
  background-color: gold;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: deepskyblue ;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 16px;
  text-decoration: none;
}

li a:hover {
  background-color: aqua;
  color: black;
}

